---
import type { FeatureData, FeatureStatus } from '../types'
import FeatureFooter from '../components/FeatureFooter.astro'
import FeatureHeader from '../components/FeatureHeader.astro'
import FeatureInfo from '../components/FeatureInfo.astro'
import FeatureSupports from '../components/FeatureSupports.astro'
import Layout from '../layouts/Layout.astro'
import { getFeaturesList } from '../services/get-feature-list'
import { formatId } from '../utils/format-id'

import '../styles/globals.css'
import '../styles/feature.css'

export interface Params {
  feature: string
}

export interface Props {
  data: FeatureData
  status: FeatureStatus | undefined
  bcdUpdated: number
  ciuUpdated: number
}

export const prerender = true

export async function getStaticPaths() {
  const { featureList, bcdUpdated, ciuUpdated, baseline } = await getFeaturesList()

  return featureList.map(feature => ({
      params: { feature: feature.id },
      props: {
        data: feature,
        status: baseline[formatId(feature.source === 'mdn' ? feature.paths : feature.id)],
        bcdUpdated,
        ciuUpdated,
      },
  }))
}
const { feature } = Astro.params
const { data, bcdUpdated, ciuUpdated, status } = Astro.props

const source = feature.startsWith('mdn') ? 'mdn' : 'caniuse'
const lastUpdated = source === 'mdn' ? bcdUpdated : ciuUpdated
const supports = data.supports
---

<Layout title={data.title} {source}>
  <input class="feature_id" type="hidden" hidden value={feature} />

  <main class="main feature past_1 past_2 past_3 past_4 past_5 future_1 future_2 future_3">
    <FeatureHeader {data} {status} />

    <div class="main">
      <FeatureSupports {supports} />

      <FeatureInfo {data} {source} />
    </div>

    <FeatureFooter {source} {lastUpdated} {feature} />
  </main>
</Layout>

<script src="../scripts/feature.ts"></script>
